{#- start of defines -#}

{%- set env_path  = data_e39fc4e85e8040d29e215197b26d300a -%}
{%- set user_path = data_fb6f549ef7e44a5693e319ea6bea81e9 -%}
{%- set env_vars  = data_4d22a990e03e4ff0b66061daa1674a0d -%}
{%- set tmpl_inf  = data_095064f18e894dcfaa3f8d12b1d0b9ca -%}
{%- set data_root = data_d74c99efdbb745129d4e98d2194bc941 -%}

{%- set data_cfg      = data_root.data_0ad5e680ae104f759b7452632d6f6380 -%}
{%- set data_contents = data_root.data_5748645e84d54977b42c83f3b9527a3b -%}
{%- set data_src_ex   = data_root.data_e92b12a896bb4e8dbdef1c83ab77e025 -%}

{#- end of defines -#}
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<html lang="ja">
<head>
    <title>{{ data_src_ex.title }}</title>
    <script type="application/json" id="json-data">
        {{ data_cfg | tojson }}
    </script>
    <style>{%- include "markdown.css" -%}</style>
    <script type="text/javascript" src="mermaid.min.js"></script>
    <script type="text/javascript">
        function toc_toggle(){
            var toc = document.getElementsByClassName("toc")[0];
            if ( toc.style.visibility == "hidden" ){
                toc.style.visibility = "visible";
            } else {
                toc.style.visibility = "hidden";
            }
        }
        function loadFinished(){
            var elem = document.getElementById("json-data");
            var data = JSON.parse(elem.textContent);
            console.log(data)

            var toc_icon = document.getElementById("toc_icon");
            toc_icon.onclick = event => toc_toggle();
            mermaid.initialize({startOnLoad:true});
        }
        window.addEventListener("load", loadFinished);
    </script>
</head>
<body>
    {{data_contents}}
    <svg id="toc_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-0.5 -0.5 123 73">
        <defs/>
        <g>
            <rect x="1" y="1" width="120" height="10" rx="1.5" ry="1.5" fill="black" stroke="rgb(0, 0, 0)" stroke-width="1" pointer-events="all"/>
            <rect x="1" y="31" width="120" height="10" rx="1.5" ry="1.5" fill="black" stroke="rgb(0, 0, 0)" stroke-width="1" pointer-events="all"/>
            <rect x="1" y="61" width="120" height="10" rx="1.5" ry="1.5" fill="black" stroke="rgb(0, 0, 0)" stroke-width="1" pointer-events="all"/>
        </g>
    </svg>
</body>
</html>